body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: rgb(239 199 16);

}
.background{
  background-image:url("img/cover.png");
  background-size: 100% 750px; 
  background-repeat: no-repeat;

  height: 700px;
}
img{
  height: 200px;
}

.hide{
  display: none;
}

.col-sm-offset-3 {
  margin-left: 50%;
  margin-top: 446px;
}

.container-fluid {
  width: 96%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card-img-top {
  width: 100%;
  height: 350px;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffea8d;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
